In [16]:
import sklearn.datasets
import pandas as pd

In [137]:
df = sklearn.datasets.load_iris()

In [138]:
dir(df)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [139]:
data = pd.DataFrame(data = df.data, columns=df.feature_names)

In [140]:
data["target"] = df.target

In [141]:
df.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [142]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [143]:
for i in range(0,3):

    print(data["sepal length (cm)"][i])

5.1
4.9
4.7

In [144]:
[w for w in data["sepal length (cm)"][0:3]]

[5.1, 4.9, 4.7]

In [145]:
data.columns= ['sepal length', 'sepal width', 'petal length',
       'petal width', 'target']

In [146]:
data

     sepal length  sepal width  petal length  petal width  target
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [147]:
data.loc[2:4,"sepal length":"target"]

   sepal length  sepal width  petal length  petal width  target
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

In [148]:
data.iloc[2:4,0:5]

   sepal length  sepal width  petal length  petal width  target
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0

In [149]:
df.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [151]:
for i in range (0, data.shape[0]):
    if data["target"][i]==0:
        data["target"][i]="setosa"
    elif data["target"][i]==1:
        data["target"][i]="versicolor"
    else: 
        data["target"][i]="virginica"

C:\Users\91988\anaconda3\envs\tensorflow_rk\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\91988\anaconda3\envs\tensorflow_rk\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\91988\anaconda3\envs\tensorflow_rk\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\91988\anaconda3\envs\tensorflow_rk\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [152]:
data["target"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: target, Length: 150, dtype: object

In [153]:
import random

In [158]:
ds  = data.sample(20).reset_index()

In [159]:
ds["target"].value_counts()

setosa        7
versicolor    7
virginica     6
Name: target, dtype: int64

In [111]:
ds["UPPER"]  =  [w.upper() for w in ds["target"]]

In [187]:
for i in ["ersi","irginic","etos"]:
    
    t = [_ for _ in ds.loc[lambda d:d["target"].str.contains(i)]["target"]]
    print( f'{t} {len(t):->{10}}')
    print("\n")

['versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor', 'versicolor'] ---------7


['virginica', 'virginica', 'virginica', 'virginica', 'virginica', 'virginica'] ---------6


['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa'] ---------7

In [210]:
ds.loc[lambda d:d["target"].str.contains("irgin")]["target"]

0     virginica
3     virginica
7     virginica
13    virginica
18    virginica
19    virginica
Name: target, dtype: object

In [203]:
ds.loc[lambda d:d["target"].str.contains("irgin")]

    index  sepal length  sepal width  petal length  petal width     target
0     141           6.9          3.1           5.1          2.3  virginica
3     103           6.3          2.9           5.6          1.8  virginica
7     127           6.1          3.0           4.9          1.8  virginica
13    134           6.1          2.6           5.6          1.4  virginica
18    112           6.8          3.0           5.5          2.1  virginica
19    115           6.4          3.2           5.3          2.3  virginica

In [204]:
ds[lambda d:d["target"].str.contains("irgin")]

    index  sepal length  sepal width  petal length  petal width     target
0     141           6.9          3.1           5.1          2.3  virginica
3     103           6.3          2.9           5.6          1.8  virginica
7     127           6.1          3.0           4.9          1.8  virginica
13    134           6.1          2.6           5.6          1.4  virginica
18    112           6.8          3.0           5.5          2.1  virginica
19    115           6.4          3.2           5.3          2.3  virginica

In [206]:
pd.crosstab(ds["sepal width"],ds["target"])

target       setosa  versicolor  virginica
sepal width
2.3               1           0          0
2.5               0           1          0
2.6               0           0          1
2.7               0           1          0
2.8               0           2          0
2.9               0           0          1
3.0               0           1          2
3.1               0           1          1
3.2               2           0          1
3.3               1           1          0
3.7               1           0          0
3.8               1           0          0
4.1               1           0          0

In [222]:
[_ for _ in ds.loc[lambda w : w["target"].str.contains("etos")]["target"]]

['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa']

In [216]:
ds[ds["target"]=="virginica"]

0     virginica
3     virginica
7     virginica
13    virginica
18    virginica
19    virginica
Name: target, dtype: object

In [223]:
ds["target"].value_counts()

setosa        7
versicolor    7
virginica     6
Name: target, dtype: int64